[2020-11-21 20:59] sakitume opened #1 "RPM Telemetry failure?"
Hello Mathias (tamashi). I mentioned this to you over RCGroups messaging but wanted to raise it as a github issue in case others might also be experiencing the same thing. The issue I'm having is that bluejay `O_H_5_48_v0.4.0.hex` does not seem to function with my Mobula6 flight controller board running my SilverFlight-FC firmware when I have RPM filtering enabled. The motors don't spin up.

This

[2020-11-22 16:58] mathiasvr commented on #1
Hi, yes thanks for testing this!

This issue is quite strange and I'm happy you have reported it this early. I have been testing some different motors and ESCs with betaflight and have not experienced this. I have not had the chance to try your firmware yet, but it is quite interesting that it only works without telemetry yet still works with telemetry in JazzMavericks version.

I'll continue to l

[2020-11-24 22:59] mathiasvr commented on #1
@sakitume I still haven't been able to figure out what's causing this, but since it only happens when using RPM telemetry I wonder if it is related to how RPM filter works in your SilverLite firmware.

I've looked into JazzMaverick's 16.77 and notice that it has a bit more delay between dshot packets and telemetry, and it also sends telemetry for every dshot packet.

Currently, Bluejay only sends

[2020-11-25 05:11] sakitume commented on #1
@mathiasvr I tried the two hex files you provided. The process I use is:

First reflashed the stock Betaflight 3.57 firmware so I could use the BLHeli passthrough it provides. Then I flashed both one of the hex files you provided using BLHeli configurator. I then power cycled the board and then used the "Motors" tab in Betaflight configurator to verify that the motors can all spin up. Everything l

[2020-11-25 06:39] mathiasvr commented on #1
@sakitume Thanks a lot for your quick testing. Your process sounds good.

Are you getting all the usual 5 beeps when powering up?
First, 3 beeps when the ESC is powered, then one beep for detecting dshot protocol, and finally one beep for receiving "0" low throttle, which arms the ESC.

You should hear the same as when you disable telemetry.
If you do, this really is just getting even more strange

[2020-12-15 04:27] sakitume commented on #1
Hey @mathiasvr. I reflashed Bluejay O_H_5_48_v0.4.0.hex onto my mobula6 board and then reflashed my SilverLite-FC firmware. I get the 3 beeps on powerup, but I do not get the additional 2 beeps after that.

Interestingly enough, I can get the ESC's to beep with a "motor beep switch" that I have hooked up that sends DSHOT command to beep (commands 1 thru 4 inclusive).

Also, after arming and then m

[2020-12-15 12:42] mathiasvr commented on #1
Hi @sakitume, I was hoping the arming issue could be what you were experiencing as well but I'm not so sure.

Betaflight won't arm unless it receives telemetry data which I only enable after arming the ESC 🤦
I was testing mainly on the bench at the time so didn't notice it was quite useless with Betaflight's rpm filtering.

Anyway, your issue seems different since you don't get the 2 beeps that in

[2020-12-16 19:15] mathiasvr commented on #1
I think your twitching motor problems are related to the 48khz version needing more startup boost. I have also just noticed that startup boost is buggy with higher startup power than the default, so I'm working on some fixes I hope will fix this.

[2020-12-16 19:20] sakitume commented on #1
Thanks for that other zip. I was able to flash that to see if anything changed. This time I flashed it onto a 75mm whoop. No beeps and no motor spin.

I'm not familiar with this "startup boost" feature of ESCs so am interested in helping you test out any newer versions to see if that might be related to the overall issue I'm seeing with my firmware

[2020-12-16 19:41] mathiasvr commented on #1
No beeps at all?

Startup boost increases the throttle when starting the motors to get them spinning. JazzMac has already updated this, so maybe this could be why it works with his version? However, oddly enough it looks like it (v16.8) still has the startup power bug mentioned.

[2021-01-11 16:46] mathiasvr commented on #1
Hi @sakitume, I have made some improvements and it seems to work more reliably now. However, I still don't have much knowledge about silverware or been able to test your firmware, so it would be great if you could try out version 0.6 at some point. Based on your issues it's hard to say if any of the changes will actually solve the problem so I'm very curious about the result.

[2021-01-13 13:03] markusgritsch commented on #1
Hi @mathiasvr, I'm the developer of SilF4ware.

Just wanted to let you know, I flashed J_H_15_24_v0.6.hex on a Racerstar REV35 35A Anniversary Edition ESC, and I can confirm, that it works fine with SilF4ware. I do not have any of the issues described above.

I'm going to upload a throttle/RPM curve to the RC Groups thread. Single issue I have is the huge startup boost, which I really don't like.

[2021-01-13 13:32] mathiasvr commented on #1
@markusgritsch Thanks a lot that sounds great!

I changed the startup boost to accommodate some smaller stubborn motors but I definitely want to update it if it's now an issue for you. I'm hoping to avoid having a setting for it but that might end up being for the better.

Btw compared to _S, startup boost is now independent of startup power.

[2021-01-13 13:39] markusgritsch commented on #1
`Btw compared to _S, startup boost is now independent of startup power.`
So you are saying its not even related to my increasted Startup Power setting, right? Well, as already written in the RC Groups posting, I would really like the old behavior back :)

Other than that, I like Bluejay very much. Thanks for your effort!

BTW, nice startup tone :)

[2021-01-13 18:25] mathiasvr commented on #1
Actually, it looks like the stall count is 1 and not 0 during startup which I expected, making the initial startup boost even higher... Good thing I didn't chop your fingers off 😅

[2021-01-15 02:00] sakitume commented on #1
@mathiasvr Thanks for reaching out. I haven't had a chance to test out v0.6 on the NOX or MATEKF411RX targets yet.

I have however tested it on a CRAZYBEEF3FS target and it works quite well. These are "L" type ESCs. However these F3 boards aren't as fast as the two F4 boards I just mentioned so I'm not using RPM telemetry (for RPM filtering). These F3 boards are often on sale for 20 USD and run ve

[2021-01-15 05:10] Quick-Flash opened #2 "requires higher idle than blheli_s"
With blheli_s I was able to happily run an idle value of 3. With this code I need to run an idle of 5.5 in order to keep all the props spinning in the air. Also the startup kick is just to much, need a way to dial that down.

[2021-01-15 06:47] sakitume commented on #1
@mathiasvr Great news, `S_H_50_48_v0.6.hex` seems to be running well on the Play F4 (NOX target) board I just tested. This is with RPM telemetry (and thus RPM filtering enabled).

Next I will try and test on the MATEKF411RX board (`O_H_5_48_v0.6.hex`) and hope that works as well. Fingers crossed.

[2021-01-15 08:07] sakitume commented on #1
Looks like `O_H_5_48_v0.6.hex` isn't working for me (using RPM telemetry) on this MATEKF411RX board. Also, I'm not getting the double-beep that occurs after the initial startup beeps (tune).

However this same hex file will work when not using RPM telemetry.

Again this is using my own firmware. And I've never tried to use Betaflight with RPM filtering on this board. I think it would be worthwhile

[2021-01-15 16:46] mathiasvr commented on #1
@sakitume Thanks for testing all these! Very nice to see an L type esc working!
Strange about the `O_H_5_48`, seems it will be quite a difficult bug to track down, I'm also very interested to know if it works with Betaflight.

[2021-01-15 16:57] mathiasvr commented on #2
Hi, yes the startup boost is currently not desirable and will be updated in the next release.
Interesting about the idle speed, I will try to look more into it and see if I can replicate it.

Which hex file did you use and did you have rpm telemetry enabled?

[2021-01-15 17:59] Quick-Flash commented on #2
I'll need to check which hex. I had 96khz flashed, not using rpm filtering.

[2021-01-15 20:16] sakitume commented on #1
@mathiasvr I seemed to have overlooked that I am already using RPM filtering/telemetry on these boards via JazzMaverick versions as I mentioned in my original issue posting. So it is already known that the hardware supports it.

So the open question is does Bluejay RPM telemetry work wtih Betaflight?

I was able to install Betaflight 4.1.7 (latest available 4.1 version for this board) and configur

[2021-01-15 21:05] markusgritsch commented on #1
Try reducing 23 in line
https://github.com/sakitume/SilverLite-FC/blob/9f1c9910bfc992a27e5e5953e4bc5fa116c8cf0b/Core/Src/drv_dshot_bidir.c#L391
to something smaller, and see, if it works then.

[2021-01-15 22:43] mathiasvr commented on #1
@sakitume If it works with BLHeli_M I think it's reasonable to consider it as a potential issue with Bluejay. Maybe the cause has been masked by some of the problems with earlier bluejay versions? I hope we can get to the bottom of it.

[2021-01-15 22:57] mathiasvr commented on #2
In my testing, it seems the 48/96khz versions need a bit more startup boost to get spinning, maybe this means they also need more idle speed to maintain the same spin as the 24khz version?
However, I just tried out 96khz on a tinyhawk with 0802 motors, and I didn't really feel much difference between the 48khz version and had no problem with an idle value as low as 2.

Can you maybe try a 96khz ve

[2021-01-15 23:59] Quick-Flash commented on #2
Sorry I was actually using blheli_m before. Not blheli_s. Maybe that's just a bl_m thing then. Either way thanks for the work your putting in here.

[2021-01-16 01:27] sakitume commented on #1
@markusgritsch I greatly appreciate the suggestion. I did try various values but unfortunately the system is still not operating as expected. The beauty of forking from your SilF4ware project is that so much just works "out of the box".

I went and re-tested with and without RPM telemetry and what I find is that without RPM telemetry, I get that double-beep a second or so after the initial startup

[2021-01-16 06:08] markusgritsch commented on #1
`Maybe it is a very slight timing difference between what my system is providing versus what Bluejay is expecting and that maybe JazzMaverick is more tolerant.`

If that's the case, maybe try tweaking the value 1000 in DSHOT_BIT_TIME_THIRD, GCR_BIT_TIME_THIRD, and GCR_BUFFER_SIZE at the  top of drv_dshot_bidir.c a bit up and down.

[2021-01-16 09:08] mathiasvr commented on #1
Bluejay does not support dshot 150 at the moment since I’ve been cutting some corners, sorry about that.

I will try to look into differences in dshot300 timing between bluejay and blheli_m as well.

[2021-01-16 09:22] mathiasvr commented on #2
Okay no problem, I’ll try experimenting a bit with blheli_m to see if I can figure something out.
Thanks for testing!

[2021-01-16 15:51] mathiasvr commented on #1
Okay, so I tried measuring some signals with a cheap logic analyzer. Not sure about the accuracy might need someone else to reproduce.

There definitely seems to be some problems when Bluejay is running in 24MHz mode (which it does when motors are not running).

Running DShot 300 with 48 kHz pwm.

| Firmware                | Delay between DShot and tlm | GCR 1         | GCR 2         | GCR 3

[2021-01-16 20:23] mathiasvr commented on #1
I've updated the delay between dshot and telemetry for Bluejay v0.7 to be:
- 24MHz: 32.6 - 33 us
- 48MHz: 33 - 33.3 us

[2021-01-17 03:33] sakitume commented on #1
@markusgritsch thanks again for the suggestion, I tried a few values but didn't see any changes. I'm still trying to wrap my head around how you implemented this as it seems like the duty cycle would be 66 and 33 percent for 1s and 0s. I had thought that perhaps that might be the difference. I think your DMA implementation is simple, clean and elegant and found it interesting to compare the differ

[2021-01-17 04:32] Quick-Flash opened #3 "Custom beep melodies"
while using the motor beeper functionality, i realized how fun it would be to have the motor beeper actually play music instead of just a single tone.

[2021-01-17 06:59] markusgritsch commented on #1
@mathiasvr Great release, and the startup boost is also gone! Yay!

@sakitume The change, which makes me happy (no startup boost) causes your motor startup issue on these tiny motors. You should add the THROTTLE_STARTUP_KICK feature from SilF4ware to your fork which handles this: https://github.com/markusgritsch/SilF4ware/blob/f6b6c34cf404c731f4edac0b0eb6d3eaddeb27de/SilF4ware/config.h#L179

[2021-01-17 13:14] mathiasvr commented on #1
@sakitume That's great news! Thanks to your issues and tests Bluejay telemetry is now much more reliable!

The startup boost is still higher than in BLHeli_S to try to accommodate smaller motors, but it seems the needed boost varies a lot with smaller motors. I think probably a configurable option is necessary to manage this.
Startup boost is now dependent on idle speed, so you could try raising t

[2021-01-17 13:31] markusgritsch commented on #1
Yes, I discovered that the reliability of motor reversing for 3D gets a lot better when using some boost or "kick" from the FC:
https://www.rcgroups.com/forums/showthread.php?2645953-Mini-tubular-and-ultralight-LOS-Acro-FPV-Quads/page383#post41483891

So I figured, a similar kick could be helpful for startup with small motors, too

Here is how fast successive reversing looks like in BB logs:
![rev

[2021-01-17 16:42] Quick-Flash commented on #2
i'll be testing 0.7 and let you know how things go.

[2021-01-17 16:46] Quick-Flash commented on #1
I've actually ported this code over to EmuFlight with much success. I've been following your silf4ware work for a good while and must say that you've done some great stuff with it!

[2021-01-17 16:59] markusgritsch commented on #1
Thanks! Yes, I've spent quite some time improving it the last two years :)  I think it has reached a point, where it flies just fine for me.

[2021-01-17 17:47] mathiasvr commented on #3
There has been some interest in custom startup melodies so let's try to do this too.
It might be some time before I get to this unless someone pitches in.

[2021-01-17 18:34] Quick-Flash commented on #1
@markusgritsch you still working on silf4ware? I haven't seen anything going on there recently. I'd be sad if that project died.

[2021-01-17 18:37] Quick-Flash commented on #3
I sadly have 0 understanding of assembly code. I might take a look and see if I could figure out anything easy as a quick test.

[2021-01-17 18:42] markusgritsch commented on #1
I'm flying it regularly. And it seems, I'm almost it's single user :)  Not much going on in the SilF4ware RC Groups thread either. It's just that for my needs and flying style the firmware is quite feature complete, and does what I expect it to do :)

[2021-01-17 21:08] sakitume commented on #1
Thanks again, @markusgritsch for another great suggestion. I'll look into that `THROTTLE_STARTUP_KICK` feature you implemented and see if I can cherry-pick or merge the necessary changes into my fork.

Also, I feel similarly about the features, and functionality you've provided in SilF4ware. It "just works" and works quite well. I've not changed the core of it with my fork, only adding features th

[2021-01-18 00:46] Quick-Flash commented on #1
@sakitume sorry to derail, but I really love your wiki and would love a little help getting my own set up similarly.

[2021-01-18 18:47] mathiasvr commented on #3
Yeah, it really hinders "BLHeli_S" contributions in general.
If you or anyone should dare to take a stab at it, I recommend only adding code after the bootloader check:

https://github.com/mathiasvr/bluejay/blob/06787cc146cee625661366de252e5e328d08986e/Bluejay.asm#L3571

The startup beeps are located before this, but if something goes wrong there it can be very difficult to flash the ESC.

[2021-01-19 03:37] sakitume commented on #1
@Quick-Flash, sure thing. I'd be happy to help out. Reply back with your project's URL and I can contact you over an issue or whatnot on your project's github.

[2021-01-19 03:51] sakitume commented on #1
@mathiasvr I'm not having much luck with the throttle startup kick that Markus suggested. Maybe I don't have the necessary code changes merged in, or I missed something.

I'm wondering if you might have any other suggestions with the motor spin-up on arming. I don't mind forking your project and doing my own experimental changes based on any suggestions. I'd need to figure out the build process (t

[2021-01-19 06:04] markusgritsch commented on #1
@sakitume
`The startup boost is still higher than in BLHeli_S to try to accommodate smaller motors`
How do the motors start up when using stock BLHeli_S 16.7? If, despite the above statement, they start up better with stock BLHeli_S, there might still be a bug lurking.

`Startup boost is now dependent on idle speed, so you could try raising that`
Have you tried this? What's the outcome of it?

`Al

[2021-01-19 07:40] markusgritsch commented on #1
@mathiasvr
`Startup boost is now dependent on idle speed`
Are you sure this is true? At startup, what does Bluejay interpret as 'idle speed'? If it's the first Dshot value it decodes which is different from 0 (or 48 or 1048), I cannot confirm this:

![startup](https://user-images.githubusercontent.com/2684183/105002368-73585c00-5a31-11eb-9987-0b7317dc5fd2.png)

On the left side the motor traces at

[2021-01-19 14:32] mathiasvr commented on #1
Sorry, that was a very imprecise statement. When the motors are not running Bluejay will always increase "boost" the incoming DShot throttle value. BLHeli_S has a set minimum value as startup boost, so the throttle is only "increased" if below this value.
So what I meant was that in BLHeli_S if the idle is below the startup boost value, increasing idle would not increase the boost. In Bluejay, inc

[2021-01-19 17:54] markusgritsch commented on #1
So, shouldn't then the motors startup more powerful in the startup kick case depicted on the right hand side?

[2021-01-19 19:09] mathiasvr commented on #1
Maybe, I don't really know much about dc motors, but I guess the motors will not necessarily spin up much faster, but it's more a question of having enough power to begin spinning at all. Maybe startup (rampup) power is playing a part as well?

I could also be misunderstanding something since I'm not very familiar with blackbox.

I'm very happy about all the testing and experiments you or anyone e

[2021-01-19 19:16] mathiasvr commented on #1
If it's a startup boost thing, I hope to have that configurable soon. I can also make a build with more startup boost for you if you like. If you prefer to make your own changes I'm happy to help you set it up as well.

[2021-01-19 20:28] markusgritsch commented on #1
I was just thinking, if the startup behaviour of Bluejay 0.6 is able to get the tiny motors from @sakitume reliably running, Bluejay could decide, depending on the size of the first Dshot value (or first few values) different from 0 (48, 1048), how strong it should initially try to startup the motors.

This way, the startup behaviour could be changed by the FC without an additional Bluejay paramet

[2021-01-19 22:20] mathiasvr commented on #1
Yes, I think being able to change startup from the FC like that could be a good idea. Could maybe also be done with dshot commands.

[2021-01-20 18:56] sakitume commented on #1
Hello all. Sorry for not replying sooner. High winds where I live in CA have caused lengthy power outages as well as internet connection issues for me.

@markusgritsch regarding some or your recent questions/suggestions:

[code]
I have not tried BLHeli_S 16.7 so cannot answer. But with BLHeli_M 16.9 and using bidir DSHOT300 the spin-up behavior is fine.

[code]
Yes, my idle speed is 20 (1/100th of

[2021-01-20 21:27] sakitume commented on #1
@mathiasvr I am now able to build locally. I was able to recreate the exact same `.hex` for v0.7 using the O_H_5_48 target. I can play around with the code and try different values for things should that be of any help to you.

[2021-01-20 22:19] mathiasvr commented on #1
BLHeli_M 16.8 does not really have more startup/stall boost. Maybe the commutation features are better for startup?

Okay, you may want to stay at High then since it should only help if you were on default medium.

That's great, I'm happy to merge your build changes so we can support Windows as well.
Please let me know if I can help with anything you want to try.
About the startup boost, I think i

[2021-01-22 02:09] sakitume commented on #1
@mathiasvr I just tried v0.8 to see if there's any improvement with my issue, but I see no improvement.

What is bizarre is that I'm no longer able to reliably get all motors to spin up at all. When I first tried v0.7 I was able to get at least one test flight in. After several arm/disarm cycles I could get the motors to all spin up enough to test things out and verify that it seemed to work (once

[2021-01-22 05:15] markusgritsch commented on #1
```And just to be clear, the same ESC firmware (whether v0.7, v0.8, 48Khz, 24Khz) runs fine with "normal" DSHOT300 for me, it is only with bidirectional DSHOT300 where I'm experiencing motor startup issues.```

Maybe it's some detail in the bidirectional Dshot implementation of SilF4ware. Maybe it's already fixed since your fork. I think I made some minor changes quite some time ago. And the issue

[2021-01-22 17:52] mathiasvr commented on #1
It should only "work" on L type ESCs but I haven't been able to test it as I don't have any. It would be great if you could do a betaflight motor test or similar for me. :)

I didn't realize your startup issues were only happening with bidirectional dshot. This seems like a bug, but as markus said it's difficult to say whether it's bluejay, the fc firmware or a combination causing it?

[2021-01-22 18:07] howels opened #4 "blheli-configurator fork for Bluejay like JESC and others"
Please consider forking blheli-configurator like others have done (https://github.com/Asizon/blheli-configurator/releases and https://github.com/jflight-public/jesc-configurator) because this makes it really easy to quickly update ESCs and test new releases.

EDIT - I see you have forked configurator but not published a release yet, hope this is something which can be done! Your commits look very

[2021-01-22 18:07] sakitume commented on #1
@markusgritsch I think you bring up some good points. I think it would be worth the effort to try and update the SilF4ware core that I forked particularly the latest DSHOT code you have.

I wish I had the equipment to examine signals at the level you're describing but unfortunately I do not. However it looks like in today's world this is actually quite affordable now. It has been many years since

[2021-01-22 18:50] mathiasvr commented on #4
@howels Yes, I'm trying :)

I basically had to do it since I have decided to move towards changing the internal layout of Bluejay which will make it incompatible with BLHeli configurators.

Though because of this, it might be some time before I can do a proper release.

[2021-01-22 19:28] markusgritsch commented on #1
Tested F_H_40_24_v0.7 and F_H_40_24_v0.8 (no difference) with bidirectional Dshot 600 (necessary for 8k mainloop) with Betaflight. Betaflight Configurator Motor testing tab shows quite some Telementry Error percentage (red above 3%, sometimes 4%). For comparison: F_H_40_REV16_73 shows 0.1% maximum error rate with Dshot 600.

[2021-01-22 19:31] Quick-Flash commented on #4
@mathiasvr you should try working with asizon on the configurator. He will probably be willing to help.

[2021-01-22 23:43] mathiasvr commented on #1
Thanks @markusgritsch, I have mostly been using DShot300 so will try to examine DShot600 in more detail.

To avoid interfering with commutation Bluejay should be skipping more telemetry packets with DShot600, but I don't think it should show up as errors in the motor test.

[2021-01-23 14:20] howels commented on #4
I think the blheli-m configurator re-used regular blheli-s options to convey the jazz maverick options. So if bluejay ends up being substantially different to blheli-s then I can see where there could be problems.

[2021-01-25 03:19] Quick-Flash commented on #2
actually it seems that blheli_m and 96khz was acting a bit different... Went back to 24khz and things were acting a ton better.

[2021-01-25 15:04] mathiasvr commented on #2
Which motors are you using? I think it's only smaller motors that really benefit from 48/96khz.
I still need to do some more testing myself though.

[2021-01-25 17:12] howels commented on #2
FWIW I put 0.8 96KHz on a moblite7 with 0802 19000KV. No changes to defaults were needed to get motors spinning on BetaFlight 4.2.5. Probably I could lower idle but it's not too floaty with the defaults.

[2021-01-25 17:40] Quick-Flash commented on #2
i'm using 1204 motors. I like to test 96khz because a lot of users tend to like to push that up (even if its not always the best idea) So i like to be able to "push" my gear by going to 96khz just to see what i can do.

[2021-01-25 17:41] Quick-Flash commented on #4
well at that point it would only be a problem if there isn't a bluejay configurator. If there is a bluejay configurator then this stuff shouldn't be a problem.

[2021-01-25 19:23] mathiasvr commented on #2
@howels Thanks it's always helpful for me to have more info on how things work out on different setups.

@Quick-Flash I read that increasing the pwm frequency also increases the effective dead time, so in that aspect you could say the motor is being "pushed" more when running 24khz.

It would be interesting to try out if increasing deadtime provides the same "benefits" as increased pwm, or if the

[2021-01-25 19:33] mathiasvr commented on #4
I will try to release a configurator that works on the old layout so we can have one a bit sooner.

[2021-01-26 03:18] sakitume commented on #1
@mathiasvr I was able to merge in many of the relevant changes Markus made in SilF4ware into my fork and now bidirectional DSHOT300 seems to be working with Bluejay v0.8 O_H_5 firmware. I need to perform more testing but wanted to provide this update for now.

@markusgritsch the changes that seemed to be the most important were the GCR decoding. I think your earlier suggestions (you gave for v0.6)

[2021-01-26 22:01] mathiasvr commented on #4
I have now released a version here: https://github.com/mathiasvr/blheli-configurator/releases
Still very early work but it should make it easier to install - hopefully without issues.

[2021-01-26 23:28] crteensy opened #5 "Request for a new pinout"
This one is apparently rather special. We'd like to use the following pinout:
- Ap: 1.1 (open drain active high)
- Ac: 1.0 (open drain active low)
- Bp: 1.2 (open drain active high)
- Bc: 1.3 (open drain active low)
- Cp: 1.5 (open drain active high)
- Cc: 1.4 (open drain active low)
- MA: 0.0
- MB: 0.2
- MC: 0.1
- CC: 0.3
- Tx: 0.4
- Rx: 0.5

We use NCP81253 gate drivers, which accept 3-state PWM

[2021-01-27 10:40] crteensy commented on #5
This thread on rcgroups describes a slightly different previous attempt (with Ac and Ap swapped for low-side PWM): https://www.rcgroups.com/forums/showthread.php?3532875-BLHeli_S-ESC-iteration-2

It includes scope shots that show how the generated 3-state PWM input looks when it's produced with open drain outputs and the pull-ups.

[2021-01-27 15:19] howels commented on #4
Excellent. Connects to my board fine. Haven't tried to re-flash but looks promising :+1:

[2021-01-27 19:49] mathiasvr commented on #5
Thanks, looks very informative.

Should anyone be interested in new pinouts I will just note that the current implementation only supports when the pairwise ordering of pwmfets and comfets is the same for all 3 phases (topological ordering). I will try to make it work without this requirement but it remains the recommended pattern for efficiency reasons.

@crteensy Would you by any chance happen t

[2021-01-27 21:05] crteensy commented on #5
Why O needs the comparator output inverted (educated guess):

O: "like D, but low side PWM"
D: "com FETs inverted"

When the high side FET is the com FET, all bemf signs are flipped - including the sign of its gradient. I'm on mobile now so I can't draw diagrams to illustrate, but that is the reason and I was able to verify this with totally different hardware.

I interpret the existence of O this

[2021-01-27 21:31] mathiasvr commented on #5
Thanks a lot that makes sense, I hadn't thought of that possibility.
So do you also need the inverted bemf output like O?

[2021-01-27 21:34] crteensy commented on #5
No we don't need inverted bemf. The ESC will do "classic" high side pwm with the pinout and gate polarity described at the top

[2021-01-28 19:11] mathiasvr commented on #1
@markusgritsch I also got some errors with dshot600, thanks for reporting it. I measured the normal dshot signal from betaflight with my analyzer and it was spot on so I think it should be precise enough? Anyway, now I have tuned the telemetry timings to minimize the errors in betaflight motor tab, even though the timings are now below spec. Not sure why that is needed but I guess betaflight commu

[2021-02-11 05:50] #2 closed

[2021-02-11 05:59] Quick-Flash opened #6 "variable pwm"
Some sort of way to make the pwm dynamic. This has been implemented in am32 and is called variable pwm. Something worth looking into if it isn't to difficult, but I do understand how difficult a lot of this coding must be.

[2021-02-11 12:57] lmnn opened #7 "PWM frequency selection without reflashing"
Hi,
would be nice to select PWM frequency in Configurator without reflashing the firmware.
Like in blheli_m configurator:
![blheli_m_configurator_pwm](https://user-images.githubusercontent.com/5864652/107639373-71bd3500-6c79-11eb-91c7-187a7cd3b3b7.png)

[2021-02-11 16:08] mathiasvr commented on #7
Hi, yes it was mentioned at one point.

Currently, PWM is updated in a way (like BLHeli_S) that makes this a bit complicated.
I will have to examine this method further to figure out what is the easiest way to support this, but it's not the main priority right now so might take a while.

[2021-02-11 16:17] mathiasvr commented on #6
I think this will be difficult on the BBs if it's even possible. I don't know much about variable pwm so it will probably be long before I can take a look at this. Let's keep tracking it here, maybe someone has more information.

[2021-02-11 16:23] mathiasvr commented on #4
So we have a configurator now. I hope to be able to merge it back to blheli configurator when bluejay's settings layout becomes more stable.

[2021-02-11 16:23] #4 closed

[2021-02-12 09:01] saidinesh5 commented on #3
@mathiasvr One good news is with bluejay stripping out older protocols freed up more space for this feature on these really really space constrained MCUs, I think we can implement this in ~200-500 bytes...

The bluejay firmware with a test tone (not working well yet.. ) weighs 14974 bytes
The same little melody on BLHeli_M weighs 15349 bytes.

I haven't touched assembly programming much yet, but I

[2021-02-12 14:18] mathiasvr commented on #3
I think you may be referring to the size of the intel hex files? This is actually an ascii encoding of the binary. The program data currently takes up around ~5200 bytes so there should be plenty of space left on both BB1 8kb and BB2 16kb.

I have not looked into extending the "EEPROM" space but I don't think this should be a big problem. We could also reserve an area of space to allow 'flashing'

[2021-02-13 01:04] mathiasvr commented on #5
[Here is a capture](https://github.com/mathiasvr/bluejay/files/5974884/DT90.sal.zip) of the pwm signals with a dead time of 90 (1.8us).
It can be opened with Logic 2 if you want to inspect it.

[2021-02-14 04:59] saidinesh5 commented on #3
I was able to hardcode the current startup tune into:

[code]
The idea is to make this writable via. Bluejay configurator and make the configurator do the heavy lifting of converting musical notes, duration into this array (Still looking up how to do that).

And then the loop will blindly play all those notes:

[code]

Now, the Good news is that it plays the tune when powered up.

The bad news is

[2021-02-14 14:28] mathiasvr commented on #3
@saidinesh5 If you can share the code you are working on I can try to take a look so we can hopefully avoid future bricking.

I think the uart bootloader is not present on blheli_s escs so you have to use the C2 interface to unbrick it. It might be easier with an Arduino but I have used an esp8266 before, probably other MCU's could be used as well.

[2021-02-14 18:11] saidinesh5 commented on #3
@mathiasvr Oh i totally forgot i have an ESP32.. Can you share your ESP firmware/code so i can flash mine too?

Also my code is really all that i shared in the above comment lol. https://github.com/mathiasvr/bluejay/pull/8 (DO NOT MERGE THIS YET)

check the commit message for the explanation. And the todos section.

[2021-02-14 18:31] mathiasvr commented on #3
https://github.com/lhartmann/c2_prog_wifi is the best C2 for esp I’ve seen.

[2021-02-14 18:37] mathiasvr commented on #3
I see your code runs before the bootloader check, which could be why you have problems. I recommend placing the code after the bootloader_done label during development. You can comment out the normal startup beeps if you like.

[2021-02-14 19:13] saidinesh5 commented on #3
Thank you, looking into it.
And yeah before the audio plays, we explicitly disable interrupts. I suspect that's what making this ESC look dead to the configurator

[2021-02-17 15:43] stylesuxx opened #10 "Comparison between bluejay and BLHELI_M"
Hey, I was wondering if it would be possible to get a short summary in the readme what the difference between bluejay and BLHELI_m are.

I mean, apart from this one being properly source controlled ;-)

Thanks for the work anyway, will keep an eye on this project.

[2021-02-17 17:02] mathiasvr commented on #10
Hi, sure I’ll see what I can do.

Most significantly blheli_m uses a different method of commutation which can be configured using the settings ff/ce iirc.

Bluejay does not support these settings and uses mostly the old blheli_s logic to drive the motors.

However, I haven’t really used blheli_m much and don’t know how it works in detail, and since Jazz has not publish his latest source code I ca

[2021-02-17 17:24] stylesuxx commented on #10
Oh, I was not aware that the source was not public. I thought it was just buried somewhere in the rcgroups thread...

Maybe this is a bit out of place here - but what do you mean by "different method of communication"? Or to be more specific, communication between which components? Is there a slack(or similar) one could join for same quick Q&A?

Really interested in a "proper" OSS telemetry capabl

[2021-02-17 18:11] mathiasvr commented on #10
I suppose I could be mistaken, but the most recent source code I see on the github repo is version 16.8_rc3. I think we may assume this is mostly version 16.8, but the latest version 16.9 is not there.

I'm referring to motor *commutation* (not communication), which affects how motors are driven. BLHeli_M introduced new methods in an attempt to improve efficiency among other things. It hasn't work

[2021-02-17 19:07] stylesuxx commented on #10
Yes, you probably are right with that assumption.

Sorry, I obviously was not reading carefully enough - makes sense now.
But yeah - it would definitely be interesting to get all active BLHELI_S devs into a room to see what their firmware does and why they chose the way they went. Jazz and Thorsten, the JESC dev.

Discord seems to be quite popular with the FPV dev community right now - at least fo

[2021-02-17 20:29] mathiasvr commented on #10
Yes, I think Discord would be a good option.

Thanks a lot that's very nice. I do not really consider it stable yet and I have not personally tested it on a lot of setups. It's only really been used by a few people up to this point. I have quite a few changes planned as well so maybe it's still a bit early for the post? That being said, I do rely on the community to test it on different setups and

[2021-02-17 21:06] stylesuxx commented on #10
OK, I will give it a spin on a couple of my whoops and see how I like it, at least I could provide some compatibility data. I would also be interested in the changes you have planned, maybe that would also be a good section for the Readme to see in which direction the project is heading.

[2021-02-17 22:30] mathiasvr commented on #10
Thanks, I might see if I can sketch something out but most of it is optimizations, bugfixes, and endless refactoring. From a user perspective, I'm not sure much will change aside from the addition of beep melodies.

[2021-02-18 18:09] corrado-c commented on #2
Sorry if I re-open this issue,
but i am also testing with 0802 tinyhawk !!
idle throttle 8
96khz, timing 22 ° and then 15, rpm power first 9x then 11x
Very good first impression, very reactive but I think it's slightly underpowered at low rpm, I'm not very sure.
could you tell me the settings you recommend for these engines?
startup min and max, timing, demag, rpm power, dithering?

if there are o

[2021-02-18 19:07] mathiasvr commented on #2
@corrado-c Hi there, I think this could be related to blheli_m having a nonlinear throttle curve which can sometimes help with this? I don't know if this is still/always the case but I've seen it discussed on rcgroups. Bluejay instead targets a linear throttle curve since it is easier to reason about on different setups.

Betaflight has a setting called `thrust_linear` to handle this issue of less

[2021-02-18 19:24] corrado-c commented on #2
yess :) I recently discovered the settings recommended by uavtech! I like them very much!
I'm already at thrust_linear 25. now i just tried 48khz, only one lipo, i think it is more powerful than 96 and i had more flight time than 96, but it seems strange and i should test more flights (the 6 lipo i have are worn and all different). in any case I like it very much!

[2021-02-18 19:35] mathiasvr commented on #2
Okay great, actually I just remembered that the tinyhawk has a dead time of 90 which is quite high. When running pwm at higher frequency this comes into play more often so 96khz on the tinyhawk could be impacting throttle control a lot - which is especially a problem at low rpm, so I think 48khz is much better here.

I hope to do more flight testing myself at some point to better understand which

[2021-02-18 19:37] mathiasvr commented on #2
Btw @Quick-Flash, do you know if Emuflight has something similar to `thrust_linear` or is considering thrust in some way?

[2021-02-18 19:54] Quick-Flash commented on #2
Right now emu doesnt have thrust linear. However it was recently added and will be in the next release. We are aso handling thrust linear differently than bf. We split it up so that yaw control does not use thrust linear only pitch and roll control do. That's because yaw is not effected by thrust.

[2021-02-18 21:18] howels commented on #2
Try turning thrust_linear up to 35 or 40. Just experiment to see what works. If run between 35 and 40 on my 3" with JESC 48KHz and the same should apply to bluejay.

[2021-02-22 10:02] stylesuxx opened #12 "Daily/Nightly builds"
Now that we have a pipeline for building, I would highly suggest a build server creating daily/nightly builds. I can chip in space and the actual build pipeline. I would build the main branch and keep a 7 day backlog of those builds.

If it wasn't for the crappy licensing situation I think integration tests via travis would be pretty cool - we could run the docker build pipeline via travis and wou

[2021-02-23 14:52] stylesuxx opened #13 "Refactoring targets"
I have been looking at the targets today and I have the feeling that some refactoring could be done here easily. I suggest the following things:
* Improve indentation and white spacing: check `target/A.inc` in my branch to see what I have in mind
* Improve comment indentation: So that they are all in one line - easier to parse with the eyes IMHO
* Code de-duplication: There is a lot of duplicate c

[2021-02-23 18:41] stylesuxx commented on #13
Closing, since this is basically in progress in #9

[2021-02-26 01:52] KingKone opened #14 "v0.10 does not go to full speed"
Hi, first of all, thx for your great work!

Just tested v0.10 and the reported RPM stops around 3700-4000, it is spinning to slow by the sound of it.

After I have noticed that, I checked with v0.9 and reported RPM is around 32000 (empty 5S 1750KV), sounds right again.

ESC Config is on defaults.
 - Bluejay version: 0.10 (24 & 48 kHz)
 - ESC variant:  C-H-40 (Mamba F405 MK2 Stack)
 - Bidirectional

[2021-02-26 20:14] mathiasvr commented on #14
Hi, thanks for the report!

That sounds strange, having the rpm protection setting very low could cause this, are you sure it was at default of 9x?
If that's the case I will have to examine the C layout more closely.

[2021-03-01 07:46] #13 closed

[2021-03-09 22:34] mathiasvr opened #16 "PWM duty cycle is too low with higher frequencies"
I have measured the duty cycle of the different PWM frequencies (24, 48, 96) at offsets with no dithering, and it seems to get slightly lower as frequency goes up. This seems to confirm #2.

**Describe the bug**
The PWM duty cycle gets lower as PWM frequency is increased, for the same throttle input.

**Expected behavior**
The PWM duty cycle should be the same for different PWM frequencies when gi

[2021-03-09 22:51] mathiasvr commented on #14
@KingKone Can you confirm this happens with the default settings?

[2021-03-10 10:37] DusKing1 commented on #12
Travis seems does not provide free plan for general users anymore. How about github action or Azure pipeline?

[2021-03-10 18:20] mathiasvr commented on #16
I forgot that the different pwm resolutions (255,1023,2047) are not multiples. The scaling required to get the exact same duty cycle is not really worth it. However, the current scaling should actually slightly increase the duty cycle and not decrease it, so it still appears something isn't right.

[2021-03-10 19:02] mathiasvr commented on #12
@DusKing1 Sounds good to me.

It could also be nice to make it automatically upload/prepare a release when a commit is tagged.

[2021-03-11 19:58] mathiasvr commented on #16
After using a different setup I cannot reproduce this and my calculations seem to confirm it. Maybe the other setup I tested affects the pwm duty cycle somehow, not sure if it was only the measurements or actual motor power as well.

I think the "usual" observed power reduction of the higher PWM frequencies is due to dead time insertion being applied more often which affects efficiency. Closing fo

[2021-03-11 19:58] #16 closed

[2021-03-14 07:29] FabianIsensee opened #17 "Small delay on motor spin up when in turtle mode"
Hi there,
first and foremost: THANK YOU so much for providing this fantastic ESC firmware. It must be a great deal of work to program and maintain this. I don't know why there are only so few people using BlueJay thus far - it perfectly slides in the huge gap left between pay-to-use JESC and JazzMav (I don't have to say anything about that do I?). BlueJay ticks all the boxes: RPM telemetry, free t

[2021-03-14 07:34] FabianIsensee commented on #17
I just tested it vs a second, identical quad that is still running JESC. The perceived difference  between the two in LOS is way less than in the goggles. Maybe the motors don't spin up as fast in BlueJay (start is not delayed much but maybe thrust is?)? It could also be related to startup power, I will investigate further

[2021-03-14 18:18] mathiasvr commented on #17
Thanks a lot! 😊

There is no intent to add a startup delay or decrease thrust in turtle mode so it could be a bug.
What pwm frequency and dead time are you using?
When running 48/96khz it seems more power is needed to spin up the motors, however turtle mode is not supposed to need even further power.

[2021-03-14 19:19] FabianIsensee commented on #17
Hi there. I can test some more things tomorrow. In the meantime: it's 48kHz and deadtime is 5 (O-H-5).
Best,
Fabian

[2021-03-14 20:15] mathiasvr commented on #1
I'm closing this for now, feel free to reopen if there are still problems. Thanks for all the info provided here!

[2021-03-14 20:15] #1 closed

[2021-03-21 07:59] FabianIsensee commented on #17
Hi, sorry for keeping you waiting so long. I had a busy week. Finally today I found some time to do thorough testing. I am lucky to have two identical quads which makes it easier for me. Both use 0803 19000kv motors, mobula6 AIO (Crazybee Lite, Frsky, O-H-5). One has bluejay 0.10, the other JESC 2.3. I made sure to match the ESC settings as much as I could (Startup 1.0 on JESC, 11x on bluejay. Dem

[2021-03-21 17:05] mathiasvr commented on #17
Thanks, I will try to look into it as well.

BLHeli_S/JESC also has rpm protection to avoid excessive power, did you have that enabled?
Overshooting or high acceleration should preferably not be able to fry the ESC because of startup/rpm protection.

[2021-03-21 21:08] mathiasvr commented on #17
I tried comparing startup to full throttle between bluejay, jesc and blheli_s but don't experience much difference.
Can you post a screenshot of your configurator settings?

[2021-03-25 00:27] gretel commented on #12
`github actions` can also store [artifacts](https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts). not exactly related to time of days but suitable i think 😏

[2021-03-28 12:14] FabianIsensee commented on #17
![image](https://user-images.githubusercontent.com/11302164/112751725-ba357580-8fcf-11eb-8a68-ecbd363cc3bf.png)

![image](https://user-images.githubusercontent.com/11302164/112751753-dd602500-8fcf-11eb-9aa3-b6bf9e0b6b8c.png)

Best,
Fabian

[2021-03-28 12:20] FabianIsensee commented on #17
After posting the screenshots I noticed that I forgot to set min and max startup power in bluejay. After doing that the effect is much less pronounces. It will probably disappear by increasing them even more. I am not sure however whether that could result in damage to the motors or escs. The values are now at 1050/1200

[2021-03-28 17:29] mathiasvr commented on #17
With the updated startup values it should be mostly equivalent to JESC so it’s interesting that it’s still not quite there.

It would be great if you could try reducing rpm rampup to 9x or lower to see if the problem is only related to max startup power?

You can also reduce min startup power if the motors have no problems starting at low throttle input.

The reason for all these settings was to b

[2021-04-04 19:40] #3 closed

[2021-04-04 21:41] mathiasvr opened #19 "Play melodies with the dshot beacon"
We can now change the startup melody, but we also want to play melodies with the beacon signal.

[2021-04-04 21:42] mathiasvr commented on #3
Tracking the remaining beacon melody request here: #19.

[2021-04-05 20:56] Quick-Flash commented on #19
Yes that would be fun to allow the dshot beacons to just turn on esc music rather than one tone of beeps. Would be fun to be searching for your drone only to have it rick rolling you.

[2021-04-06 10:45] koen352003 commented on #19
I think I might have missed something, are you actually saying that the custom startup melody is already working? Didn't notice it being in the changelog, but if it's true than that's really quite amazing! I really like the work you and the others are doing around here, it's wonderfull to see this amount of support for the blheli_s esc's!

[2021-04-06 17:19] mathiasvr commented on #19
@koen352003 Yes might be a bit overstated.

Version [0.12](https://github.com/mathiasvr/bluejay/releases/tag/v0.12-test) is currently in a test phase. You can try it with the newest version of bluejay configurator and soon esc configurator too. It isn't perfect yet but can play some simple rtttl melodies.

[2021-04-10 17:58] Cl-arctos opened #21 "Start bidirectional dshrot can only recognize two motors"
**Describe the bug**
Start bidirectional dshrot can only recognize two motors(only motor 1,2），Turn off the normal recognition of 4 motors

**Expected behavior**
A description of what you expected to happen.

**Configuration:**
 - Bluejay version:0.11-96k/48k   0.10-96k/48k
 - ESC variant: G-h-30
 - Bidirectional DShot: ON
 - FC firmware: [e.g. Betaflight 4.3.0]

[2021-04-10 18:04] mathiasvr commented on #21
Could this be related to this issue https://github.com/mathiasvr/bluejay-configurator/issues/12?

[2021-04-11 18:40] mathiasvr commented on #21
@Cl-arctos Are you using iFlight Beast H7?

[2021-04-18 07:48] koen352003 commented on #14
I'm using the same mamba f405 mk2 stack, and for me 0.12 (test1) has been working and flying perfectly fine on defaults.

[2021-04-18 14:51] mathiasvr commented on #14
@koen352003 Thank you for the report!

I don't know what could have caused this issue other than the mentioned setting, so it's strange using v0.9 would work - maybe the settings were not the same for some reason.
Anyway, I think we can close this for now then.

[2021-04-18 14:51] #14 closed

[2021-04-19 01:37] ericogr commented on #14
Same here. Today, experimented `4x1 Mamba F40HV ESC` with `C-H-40, 0.12, 48 kHz, Bluejay (BETA)` with 6S battery with success!
Params:
[code]

[2021-05-05 20:12] GRIzmak opened #24 "Direction is always normal"
**Describe the bug**
I'm not able to set motor direction. Whatever I choose (normal or reverse) I have a normal direction. On version 0.11 everything works as expected.

**Expected behavior**
Been able to choose a motor direction.

**Configuration:**
 - Bluejay version: 0.12.1
 - ESC variant: O-H-5
 - Bidirectional DShot: On
 - FC firmware: Betaflight 4.2.8
 - FC: Happy model Crazybee F4 Lite
 - b

[2021-05-05 23:45] mathiasvr commented on #24
Thanks for reporting this!

Version `0.12.1` was backported from newer code and released early because it contains an important fix.
However, looks like the backporting caused a typo that removed the part that decodes settings such as direction 🤦

I have fixed it and will release it as `0.12.2` ASAP.

[2021-05-06 00:16] mathiasvr commented on #24
Fixed by https://github.com/mathiasvr/bluejay/commit/e686e05b8d67c9682c8302233091213fb0b56e55 - released in [v0.12.2](https://github.com/mathiasvr/bluejay/releases/tag/v0.12.2).

Thanks again for your report! 👍

[2021-05-06 00:16] #24 closed

[2021-05-06 06:23] Zuldan opened #25 "ESC not showing flashed version 0.12.1 or 0.12.2 ?"
I've just flashed my ESC from 0.12.1 to 0.12.2 but the Configurator is still showing 0.12. How do I know if I have 0.12.1 or 0.12.2 installed?

**Configuration:**
 - Bluejay version: 0.12.2
 - ESC variant: A-H-25

<img width="305" alt="Version" src="https://user-images.githubusercontent.com/12680150/117251035-731c8900-ae87-11eb-9df6-40a9e067fbb6.PNG">

[2021-05-06 08:40] GRIzmak commented on #24
Thanks for a fast fix. It's working now. I love the melodies on 8bit ESC. Now my 1S toothpicks are even cooler.

[2021-05-06 11:56] mathiasvr commented on #25
Sorry about that, I chose to reuse the 0.12 version number but should probably just have made it 0.13.

If you can reverse the motor direction you are not running 0.12.1.

[2021-05-07 04:06] Zuldan commented on #25
Ok no prob. I'll install 0.13

[2021-05-07 04:06] #25 closed

[2021-05-12 20:39] harry1453 opened #26 "Elevated bidir DShot error rate"
**Describe the bug**
Non-zero (5-10%) DShot telemetry error rate in betaflight configurator, accompanied by occasional "clicking" noise coming from motor

**Expected behavior**
No telemetry errors, motor runs smoothly

**Configuration:**
 - Bluejay version: 0.12.2
 - ESC variant: G-L-30
 - Bidirectional DShot: On
 - FC firmware: Betaflight 4.2.9

[2021-05-12 21:02] harry1453 commented on #26
I've just realized this may be because I am using DShot600. JESC doesn't support DShot600 on L ESCs. Is this the case with BlueJay as well?

[2021-05-13 09:56] howels commented on #26
The older L hardware doesn't support dshot600 with telemetry. Not enough CPU power to process telemetry above dshot300 speeds

[2021-05-13 11:12] mathiasvr commented on #26
Yes, as @howels mentioned the mcu is too slow to handle it. I would recommend using dshot150. I’m not sure how dshot300 performs but I’m working on some optimizations that may improve it.

I haven’t tested an L ESC so the telemetry signal has not yet been fine-tuned and that’s also why I didn’t disable support for dshot600. We should probably remove dshot600 on L ESCs in next update to avoid this

[2021-05-13 11:42] howels commented on #26
Agree, safer to disable dshot600. Better if people can't take off than if they can fly but get unexpected accidents.

[2021-05-16 17:56] harry1453 commented on #26
Okay, that makes sense. I suspect the clicking noise I heard was the MCU missing or mistiming commutations due to being too slow. Could probably cause desyncs if this is the case. I think the safer option is to leave it disabled. I'll give DShot300 a go on L hardware.

[2021-05-20 15:10] AndreaCCIE opened #27 "ESC lost after upgrade"
**Describe the bug**
I lost one ESC after the upgrade from 0.11 to 0.13

![Screenshot 2021-05-20 at 16 08 53](https://user-images.githubusercontent.com/48698293/119003587-beee2880-b985-11eb-8170-cbc6198eabe9.png)

**Expected behavior**
All 4 sec should be in the list

**Configuration:**
 - Bluejay version: 1.3.6
 - ESC variant: S-H-50
 - Bidirectional DShot: 300
 - FC firmware: Betaflight 4.3

[2021-05-20 15:17] mathiasvr commented on #27
Try waiting some time before pressing read setup, does the ESC still not show up?
Could you save debug logs and post them here?

[2021-05-20 15:22] AndreaCCIE commented on #27
No difference. I flew a pack (it's a tiny whoop), went for the upgrade and got the problem.

[Uploading Log.txt…]()

[2021-05-20 17:56] mathiasvr commented on #27
Looks like it failed to flash, but seems it should still show up. Can you try if esc-configurator.com is able to read it?

[2021-05-20 18:19] AndreaCCIE commented on #27
Yes, it does see the 4 escs but it doesn't spin (number 3)

![Screenshot 2021-05-20 at 19 18 42](https://user-images.githubusercontent.com/48698293/119029161-3466f280-b9a0-11eb-816a-b165abd465b0.png)

[2021-05-20 19:42] AndreaCCIE commented on #27
Actually, it doesn't show number 3

![Screenshot 2021-05-20 at 20 41 38](https://user-images.githubusercontent.com/48698293/119039149-d4764900-b9ab-11eb-9754-002966815773.png)

[2021-05-21 00:24] mathiasvr commented on #27
Okay, looks like you have to flash using C2 interface to recover the esc unfortunately. This is not straightforward and you will need an Arduino or similar.

I'm not sure why this happened, but maybe there is some state bug in blheli/bluejay configurator - seems to be quite rare though.

[2021-06-01 02:28] pkaig opened #28 "Support for single rotor helicopters"
Hi. I'm using Bluejay for configuring the main and tail rotors (betaflight passthrough) on my helicopter running Heliflight-3D. I would like to be able to write a different setup to each motor and disable damped light mode for the main motor. Can these options be added please?

[2021-06-07 22:45] mathiasvr commented on #27
There was a bug in blheli/bluejay configurator that could brick the ESC if the `Flash` button was pressed more than once.
I have fixed it in the latest version. Not sure if this is what happened in your case, but I hope we can avoid these problems in the future.

[2021-06-07 22:45] #27 closed

[2021-06-07 22:55] mathiasvr commented on #28
Hi there!

I'll try to see if I can add an option to disable "damped light" soon.
Let me know if you want some "test" files in the meantime.

For multirotors it probably makes the most sense to have this option affect all ESCs, so I'm not sure it should be a setting for each individual ESC - maybe there is a better way to support helicopters? Maybe there should be a mode in the configurator to all

[2021-06-08 08:38] pkaig commented on #28
Thank you very much Mathius. That would be great. Yes I would love to try out your test files please. I did read some comments in the project file that suggested this was being worked on.

The reason for the ability to download separately is because the main and tail motors are different so that can operate with vastly different settings such as timing and starting torques etc (the main can often

[2021-06-08 14:46] mathiasvr commented on #28
Ah okay, that makes sense!

@stylesuxx How complicated do you think it would be to have a mode/option where all settings are set individually in the configurator?

[2021-06-08 16:17] mathiasvr commented on #28
Here are some test hex files without braking/damping: [v0.13_nobrake.zip](https://github.com/mathiasvr/bluejay/files/6618061/v0.13_nobrake.zip).
I only compiled the most common ones, so let me know if you need one that's missing.

[2021-06-08 17:16] stylesuxx commented on #28
Technically I could add an option to treat every setting as an individual setting in the configurator.
But I am wondering how much of a fringe case this is - if it is just @pkaig who would be using this feature I am not sure if it is worth the hassle, or if it is easier for him to just de-solder the ESC signal wires and flash separately like that.

@pkaig I don't know the helicopter community, is

[2021-06-08 22:31] pkaig commented on #28
@mathiasvr. Thank you very much for the files. I will give them a go.

@stylesuxx. The added difficulty I have is I am using an AIO board. My hack to get around this is to download the tail config to both, then open in betaflight CLI and remove the resource for the tail motor. Reconnect Bluejay and flash the main motor config, reconnect betaflight and add the tail motor resource. It does work but

[2021-06-09 07:29] stylesuxx commented on #28
@pkaig I see - an AIO makes it more complicated, that is true. I added your request as a feature request in the [esc-configurator repo](https://github.com/stylesuxx/esc-configurator/issues/113). I am not sure yet which version I will implement. If you have any preferences or other ideas, feel free to discuss them there.

Unfortunately this will be a bigger change so I can not promise a quick imple

[2021-06-09 08:27] pkaig commented on #28
@stylesuxx mate that sounds fantastic. I really appreciate you even considering the addition. I understand completely. Good things take time 👍

[2021-06-10 14:34] stylesuxx commented on #28
@pkaig could you have a look here => https://50e6a41ca189.ngrok.io/ in the settings you can now select "Disable common settings" - this will make the configurator show all settings for every ESC, let me know if this is what you were looking for.

[2021-06-10 21:05] pkaig commented on #28
@stylesuxx that's fantastic. Just connected and changed the starting parameters for the tail motor only. It seems to work great. That makes it so easy thank you very much.

[2021-06-10 21:56] stylesuxx commented on #28
Cool, thanks for giving it a spin. This means I can add it to https://esc-configurator.com

[2021-06-11 02:00] pkaig commented on #28
@stylesuxx great news. I will give this a go on my other helis when I get home. Again thank you.

@mathiasvr . Hi Mathias. I gave the noBrake firmwares a go but it still seems to be doing the damped-light. I took a video https://youtu.be/ZyLMujPY0YQ. Just reading a bit of your code in the 'push' section and I'm not sure if the damped-light is still enabled by default or if I am doing something inc

[2021-06-11 06:37] mathiasvr commented on #28
@pkaig Braking/damping should be disabled by default (and not yet changeable). Did you also disable brake on stop?

[2021-06-11 09:39] pkaig commented on #28
@mathiasvr..... Ummmm. It was a Iid10t error.... I'm very much embarrassed to say I flashed the noBrake to the TAIL 🙃. That's what I get for rushing to give it a go before I head off to work.

Anyway it works fantastic. I'm very excited to get this working on all my heli's now. I appreciate your efforts.

[2021-06-11 11:01] mathiasvr commented on #28
@pkaig Ah I see, great to hear! 😄

[2021-07-11 17:05] mathiasvr commented on #21
Closing as stale.

[2021-07-11 17:05] #21 closed

[2021-07-11 17:46] mathiasvr commented on #26
DShot 600 support for L ESCs has now been removed in Bluejay v0.14. I added some info no the wiki.

[2021-07-11 17:46] #26 closed

[2021-07-11 19:23] Quick-Flash commented on #26
Can you re-enable this as long as your not using dshot telemetry? So bidir dshot will only work at dshot 300, but not dshot 600. But dshot 600 non bidir will work.

[2021-07-11 21:26] mathiasvr commented on #26
@Quick-Flash Ahh I don't have an L ESC so missed that performance might be good enough without rpm telemetry? Do you or anyone else run dshot 600 on L without issues? I'm not actually sure if it's mainly a performance issue or telemetry timing issue.

[2021-07-20 09:48] DMAXYANG opened #31 "bidirectional mode issue"
Hi, I have this issue when I use BL or BLS bidirectional mode.(Because BL/BLS is no longer being developed further)
As described in the linked video, When you move forward and release the trigger,it will stop slowly.But when you move back and release the trigger,it will stop quickly(suddenly).
I had turned off Damping and Brake.  （The same is true when I test the bluejay v0.13_nobrake firmware）
Ho

[2021-08-06 09:18] #17 closed

[2021-08-10 15:01] mathiasvr opened #32 "The O_L_ layouts do not work"
**Describe the bug**

The `O_L_` layouts have a comparator bug that causes incorrect back-emf readings making it impossible to drive the motor.

**Configuration:**

 - Bluejay version: 0.11+
 - ESC variant: O_L_X_X

[2021-08-10 15:08] mathiasvr opened #33 "Accuracy of rpm telemetry should be improved"
The accuracy of the reported e-period (for rpm telemetry) should be improved to provide better rpm filtering and use of more narrow notch filters.

[2021-08-16 21:48] mathiasvr opened #34 "Extend DShot ESC Telemetry"
It has been suggested to extend ESC telemetry to provide information such as missed zero crossings and demag events.

Currently Bluejay only supports rpm (e-period) telemetry according to the specification of bidirectional dshot.
DShot also allows telemetry on a separate wire which is currently only supported by 32-bit ESC firmware.

It needs to be decided whether Bluejay should add support for ds

[2021-08-29 04:01] pkaig commented on #28
Hi Mathias, Thank you very much. I will give it a go.

[2021-09-01 22:52] cybergap opened #35 "Configurator Motor control screen/panel difficult to find or disappears"
Screen for controlling and testing motors not always findable? Sometimes it is there, and sometimes not.

Seems like a bug in the configurator, else there is no obvious way to pull up the panel using menu or button. If not a bug, this is a feature request.

**Configuration:**

MacOS and Chrome based configurator
 - Bluejay version: [e.g. 0.6]
 - ESC variant: [e.g. A_H_5_24]
 - DShot bitrate: [150/

[2021-09-02 15:12] mathiasvr commented on #35
Hi there,

This is the repo for the Bluejay ESC firmware, I think you are talking [ESC Configurator](https://github.com/stylesuxx/esc-configurator) since it has a motor test page, or did you mean another configurator?

[2021-09-02 20:39] cybergap commented on #35
Hey Mathias!

Yes, I couldn’t find a way to get to the test page. Didn’t know if I was just missing it or doing something wrong, but I checked again last night and couldn’t find it on the stand alone Mac version.

Thanks for all your work on Blue Jay. It seems to be working great on my HX115 LR, after some fiddling with startup power and idle settings.

Cheers

650-245-9354

[2021-09-02 21:04] mathiasvr commented on #35
Ah I see, the standalone bluejay configurator doesn't have a motor test feature, it's only on www.esc-configurator.com - you can of course also use betaflight configurator etc.

Thank you! And yes the smaller motor usually needs higher startup power, I've considered increasing the defaults.
The HX115 looks very cool! I hope to get or build something very similar at some point 😉

[2021-09-02 21:32] cybergap commented on #35
Clears it up! Thanks

Yes, the HX is actually amazing. Great little flier with 65mm blades and Nick Burns’ tune. Or, 1202.5 motors and 3” blades, and Blue Jay. One of my favorites now. So quiet.

650-245-9354

[2021-09-11 01:48] pkaig commented on #28
Sorry for my very late reply Mathius.

The damped light does make a big difference and with this enabled the heli does still spin rapidly. I have taken some videos.
Your original v0.13 no damped light/no brake on stop: https://youtu.be/EsAWMqxvM7M    (this is great BTW)
The new no brake on stop V0.14: https://youtu.be/drHNzsOl2N0

The new version with damped light still enable spins much faster on

[2021-09-11 02:36] pkaig commented on #28
Sorry. Don't know what I clicked to close it.

[2021-09-11 11:37] mathiasvr commented on #28
Thank you @pkaig, the videos are very helpful! I see the stop still has too much braking for the helicopter landing. I'm surprised it has this much effect since the braking is very brief, but that's good to know.

Out of interest how is flight performance of the helicopter when flying damped light? I think there should be a noticeable difference when varying throttle? Do you think this is somethin

[2021-09-11 12:15] pkaig commented on #28
I haven't flown it yet with your v0.14 but I will in the morning. Both of my helis running Bluejay have been broken and waiting for parts. One is ready to go now.

Just thought I would Post a comparison between the standard V0.13 and your V0.13 nobrake (no damped light). It's really a huge difference.

V0.13: https://youtu.be/ahWzhT5Bn28
No Brake https://youtu.be/a2GtaOZoZYo

[2021-09-11 12:20] pkaig commented on #28
The no damped light only on stop may be worthwhile. The heli is running a fixed throttle with a Govenor to maintain headspeed regardless of pitch. I'm guessing damped light could help with rapid downward transitions that unload the head.

Happy to do some testing.

[2021-09-25 10:27] longxk opened #36 "Z-H-30 target does not work for Betafpv 1S 12A FC"
**Describe the bug**

Z-H-30 target does not work for Betafpv 1S 12A FC.
Tried 24khz and 48khz, motors dont spin.
Factory blheli_s 16.7 firmware works fine.

**Configuration:**

 - Bluejay version: [0.14]
 - ESC variant: [Z_H_30_48]
 - DShot bitrate: [300]
 - Bidirectional DShot: [Either]
 - FC firmware: [Betaflight 4.2.9]

[2021-09-26 18:04] longxk commented on #36
sorry. I just found out that I need to increase Min. Startup Power to at least 1100.
but what about Max. Startup Power and RPM Power? what values should I use?

[2021-09-26 21:51] mathiasvr commented on #36
Hi there, you should be fine with defaults, but based on min startup you can probably increase max startup to 1200 and 11x for rampup.

[2021-09-28 04:59] longxk commented on #36
thanks for your advice. set min to 1110, max to 1200 and rampup to 11x. but the motors wont spin properly on low throttle, just some twitches. is that normal?

[2021-09-28 11:33] mathiasvr commented on #36
You can increase dshot idle in betaflight to avoid low throttle problems.
48khz usually needs higher startup power / idle, but 24khz should be similar to blhelis. I will try looking into it and see if I can reproduce this issue.

[2021-09-28 11:54] JAL513 commented on #36
I get this problem on 96khz as well. Not with all motors and they will start up when I turn up protection and ramp up power. Any other settings to improve this would be greatly appreciated. But will still happen intermittently.

JAL

[2021-09-28 15:30] mathiasvr commented on #36
I just tried this target with a 0802 motor and do not see any noticeable difference between BLHeli_S 16.7 and Bluejay 0.14 (24kHz), both starting at around 1060 throttle at default settings.

With 48kHz PWM the max startup power setting needs be increased (to e.g. 1200). This is normal with higher PWM frequencies at low throttle. The DShot idle value should also be increased to keep the motor runn

[2021-09-28 18:20] JAL513 commented on #36
Thanks for all this. Apologies for confusing things, I’m running a different target SH50 Bluejay v.13 at 96khz. It only happens when the battery gets lower and only to one motor.

I’ve got min and max turned up a bit and definitely helps, but didn’t fix it entirely. I’ll increase idle a bit or move down to 48 or even 24khz to see if I can correct the issue even at lower battery levels.

I’ll repor

[2021-09-28 20:50] mathiasvr commented on #36
Yes low battery power can be problematic especially on 1S, it might be a good idea to enable battery sag compensation in betaflight.

[2021-09-29 02:01] JAL513 commented on #36
Increasing idle didn't result in any change. I updated to v.14 and decreased to 48kHz. I still needed to increase min and max startup almost all the way for the sputtering motor to start up with the others at low battery. After that I moved back to 96khz and kept min and max startup real high. I also moved ramp up to 10x. Flew amazing after that. Will I smoke my motors with those settings?

[2021-09-29 09:40] longxk commented on #36
v0.14 Z-H-30_48KHz target with default settings wont start up my 1202.5 motors.
after setting max startup power to 1200, the motors start to spin properly at 1130 throttle.
with DShot Idle increased to 15%, the low throttle problem seems to be solved.
the min startup power was kept at default value.
according to my experiments, min startup power seems to have no effect on my problem.

[2021-09-29 09:50] #36 closed

[2021-09-29 14:16] mathiasvr commented on #36
@JAL513 If it's only one motor that stutters it might be more worn out or have a loose connection etc. Preferably you don't want to raise max power if other motors are fine with lower setting, but if you don't start the motors while they are stuck you should be fine. Rampup of 10x/11x is usually not a problem.

@longxk min startup have no effect if it's lower than idle. You can try setting min sta

[2021-09-29 17:01] longxk commented on #36
@mathiasvr Max value for Min Startup Power is 1125. 😂

[2021-10-02 13:43] howels commented on #19
Is it possible to have a beacon melody in addition to the startup melody? I urgently need to be able to rick-roll my fellow flyers.

[2021-10-05 15:39] sukulent opened #37 "ESC telemetry error is not 0%"
When testing motors in the motors tab using bidirectional dshot, the error percent isn't 0%. It scales with the throttle reaching 1% around mid throttle.

I would expected 0% error.

Is this a bug, a limitation of the L type ESCs or is this safe to fly?

**Configuration:**
 - Bluejay version: 0.14
 - ESC variant: I have two G-L-30 and two F-H-40 , only the two G-L-30 do this.
 - DShot bitrate: 300

[2021-10-05 15:56] mathiasvr commented on #37
The L type ESCs have not had much testing and I don't have any myself so it's likely the telemetry timing is not tuned properly. In general I think it's preferable to use dshot 150 for L ESCs.

I could try slightly offsetting the timing if you are interested in testing?

[2021-10-05 17:15] mathiasvr commented on #37
Here are some test hex files, you can try to see if one of them improves the error percentage.

[L_Test.zip](https://github.com/mathiasvr/bluejay/files/7287847/L_Test.zip)

If both makes it worse there's probably not much more to do about it.

[2021-10-06 14:21] sukulent commented on #37
Thanks! Testing is no problem.

I read the wiki here and if I am correct I must use dshot 300 when I mix L and H type ESCs

I have flashed the two L type with both test files and here are the results:

The G_L_30_48_v0.14_predelay8.hex is better with no more than 0.1% error
The G_L_30_48_v0.14_predelay6.hex is worse with max around 1.5% error

[2021-11-04 09:11] ansmax opened #38 "Why i can not set the Min/Max/Center Throttle in ESC-Configurator?"
Why i can not set the Min/Max/Center Throttle in ESC-Configurator?
When we use Blheli S,we can set Throttle in BlheliSuit and ESC-Configurator, but if we flash bluejay FW , the parameter set is disappear. So the Throttle set is 1847/2047 or 1900/2000?

[2021-11-04 17:05] #38 closed

[2021-11-07 19:51] codeincontext commented on #36
@longxk were you able to get bidirectional DShot working on this FC? I just get 100% error rates after enabling it with ESC Configurator

[2021-11-08 03:09] longxk commented on #36
@codeincontext yes, bidirectional dshot works fine on mine

[2021-11-08 10:21] codeincontext commented on #36
Ok, thanks

[2021-11-23 11:36] ctzsnooze opened #39 "RPM steps at high inputs"
Hi, and thanks for working on improving BLHeli-S.

I'm sure you're aware of this, it's a 'feature' of BLHeli-S, but I was wondering if you can do anything to improve it a bit.

What I'm referring to is the way that at high DSHot signals - high throttle - the ESC doesn't respond smoothly, instead it generates a series of steps.  At least that's what the RPM data shows.

Here I am steadily increasin

[2021-11-23 16:03] mathiasvr commented on #39
Hi there, thanks for the detailed info and plots!

There's some approximation happening when scaling from DShot throttle value to PWM duty cycle, as well as converting commutation period to e-period (to RPM). DShot throttle scaling has been improved compared to BLHeli_S, but I'm not sure if this is the problem. The ERPM-TEST release should make RPM telemetry as precise as possible for the protocol

[2021-11-23 16:56] mathiasvr commented on #39
Here is the version without approximate scaling, so DShot 0-2000 will correspond to around 0-97% PWM duty cycle:

[v0.14_linear_pwm.zip](https://github.com/mathiasvr/bluejay/files/7589746/v0.14_linear_pwm.zip)

It would be interesting to see if this affects the linearity of the RPM output.

[2021-11-27 05:06] ctzsnooze commented on #39
Hi Mathias - thanks for getting back to me!
Here is an image with Bluejay 0.14 in 48k mode.  I hacked the log viewer so I can see the whole ramp:

![Screen Shot 2021-11-27 at 16 01 08](https://user-images.githubusercontent.com/11737748/143668722-2d8c0e6d-fc29-4092-a172-cfcf5cab3340.jpg)

In the same format, this is the previous 24k log:
![Screen Shot 2021-11-27 at 16 02 55](https://user-images.git

[2021-11-27 05:10] ctzsnooze commented on #39
We couldn't say that the linear PWM at 24khz is much of an improvement :-(

![Screen Shot 2021-11-27 at 16 09 38](https://user-images.githubusercontent.com/11737748/143668890-0e6d2d63-573a-48c3-aeff-53e7660bf09d.jpg)

[2021-11-27 05:12] ctzsnooze commented on #39
@mathiasvr Happy to test whatever you come up with.

[2021-12-20 09:42] Zestforlife808 opened #40 "Issues flashing Bluejay .14 48k to Happy Model 2G4 ELRS AIO"
I'm hoping someone can help me figure out what's going on with my new whoop board.  After confirming all motors spin in Betaflight configurator I tried flashing Bluejay .14 48k with esc-configurator.com.

Upon powercycling the board only motor 4 spins.  The rest just make a stuttering sound without making any revolutions.  Flashing .14 24k results in motors 1 and 4 spinning while 2 and 3 stutter.

[2021-12-20 10:00] mathiasvr commented on #40
Hi there, please fill out the bug report template to make it easier to diagnose issues.
Many whoops needs higher startup power so I would try that, probably min/max of 1100/1200 should be a okay but you might want to increase it in steps.

[2021-12-21 19:17] howels commented on #32
Just discovered this. Doh.

[2021-12-22 04:35] hyperion11 opened #41 "Add ability to disable damped light"
Hello! It possible to add non-damped mode as feature like it presents in Blheli_32 and blheli?
For airplane active damping not needed.
Thanks!

[2022-01-04 12:18] howels commented on #32
Any likelihood of a fix for O_L @mathiasvr or is this a lower-priority item?

[2022-01-04 16:19] mathiasvr commented on #32
@howels It's fixed in a test release of `0.15` which you can already try flashing, but might be some time before esc configurator supports settings for that version.

[2022-01-04 21:39] swilkens commented on #32
Actually, esc-configurator should support 0.15 very soon;

https://github.com/stylesuxx/esc-configurator/issues/163

[2022-01-04 23:10] howels commented on #32
There are no O_L layouts in the 0.15-test release, can you add those if it's working please?

[2022-01-04 23:48] mathiasvr commented on #32
@howels Ah sorry, forgot I only added a subset of files 🤦 I'm adding the O_L as well.

[2022-01-12 13:44] manikbh commented on #32
Not sure if it is related, but when I flashed my old racerstar blheli_s 30A ESCs (G_L_30 from the read config) the melody changed but the motors were not running at all, except one, but it had failed to flash. Parameters could not be set (whatever I chose in the dropdown list was replaced by a blank value). I flashed back to blheli_s and it worked again.

[2022-01-12 22:09] pitts-mo commented on #40
Hey @Zestforlife808,
I have seen similar flaky motor starts happen a lot on micros.

If you find this happens again:
Direct soldering motors to FC or squeezing the plates within the motor connector plugs on my Tinyhawk II quads allows them to start up fine again even on Bluejay's default startup power. Just be careful not to crimp the tapered end of the motor plug plates so much as to prevent them

[2022-01-13 02:15] malexzx commented on #40
Hey @Zestforlife808, all

Yesterday, while trying to install Bluejay to O_H_5, seen so motor 1 spin correctly, while others not.
After  investigating previous configuration, see difference: Blheli_S version is 16.8.
After load to Blheli_S 16.7 the motor 1 spin and 2,3,4 shutters.
After load to Blheli_S 16.8 all motors spin ok.

[2022-01-13 03:17] mathiasvr commented on #40
@malexzx JazzMavericks has more throttle at low end basically increasing idle. With Bluejay you need to increase min/max startup power to get the motors spinning or increase idle in the FC firmware. As @pitts-mo mentioned this could be caused by poor motor connection.

[2022-01-13 03:36] malexzx commented on #40
@mathiasvr I was already try to increase limits with no success. (Will try to direct soldering too, but it complicated)
Also while enabling bidirectional dshot I've got an error, about wrong motor number reporting by betaflight configurator.
(if it matters, I'll try to do again to report).
M.b. other  JazzMavericks things matters, can you explain?
My configuration:
Betaflight Meteor-65 tinywhoop.

[2022-01-13 03:57] mathiasvr commented on #40
You might need to increase ramp up also. I would expect it to work okay with startup power min/max of about 1100/1200 but can maybe go higher, and try setting ramp up to 11x. If this doesn't work I'm not really sure how 16.8 makes it start.

[2022-01-13 05:12] mathiasvr commented on #41
This is now supported in v0.15.
Setting the new setting  `Max Braking Strength` to 0 will effectively disable complementary PWM (damped light).

[2022-01-13 05:12] #41 closed

[2022-01-13 05:14] mathiasvr commented on #32
Fixed in v0.15 which is now released.

[2022-01-13 05:14] #32 closed

[2022-01-13 05:16] mathiasvr commented on #32
@manikbh This issue only affects the O_L layouts, so problems with G_L_30 should be something else.

[2022-01-13 05:20] mathiasvr commented on #28
Now v0.15 is finally released.
Setting the new setting  `Max Braking Strength` to 0 will effectively disable complementary PWM (damped light).

[2022-01-13 05:20] #28 closed

[2022-01-13 05:34] mathiasvr commented on #39
@ctzsnooze Do you still have these logs by any chance? 😅

[2022-01-13 13:54] Stampede10343 commented on #1
I am also having issues with Bidirectional DShot on a Mobilte 7 with O_H_5 firmware. Tried multiple versions, when I enable Bidirectional DShot the quad does not arm, CPU load goes up from ~30% to ~60% and the OSD lags.

[2022-01-13 14:00] swilkens commented on #1
@Stampede10343 Moblite 7 has an F4 chip right?

There are currently some possibly related changes happening in BETAFLIGHT 4.3.0-RC releases, specifically for F4 processors. Do you use those releases by chance? If so, does it also happen on 4.2.11?

https://github.com/betaflight/betaflight/pull/11278

[2022-01-13 14:14] Stampede10343 commented on #1
@swilkens ahh interesting it is F4, yeah I'm on 4.3 RC2. I'll have to try 4.2.11.

[2022-01-13 14:21] malexzx commented on #40
with suggested values all motors spin ok. Thank you!

[2022-01-13 15:13] Stampede10343 commented on #1
Yeah 4.2.11 seems to work fine!

[2022-01-13 21:28] c3r63ru5 opened #42 "iFlight Beast F7 45A AIO - No RPM Telemetry when motors are not spinning"
**Describe the bug**

Flashed 0.15 48kHz onto a iFlight F7 Beast AIO and checked RPM telemetry in BF.
With BLheli_M all looks normal, with BlueJay Error shows 100% until motors start spinning.
When motors start spinning, error goes down to 0%.

**Expected behavior**

Even with motors not spinning, I would expect 0% telemetry errors.

**Configuration:**

 - Bluejay version: 0.15
 - ESC variant: G_H

[2022-01-15 13:49] Troyhy opened #43 "Bidirectional Dshot failing on 0.15 on Crazybee F4 PRO V3.0 - HAMO/CRAZYBEEF4FR(STM32F411)"
**Describe the bug**
After Enabling bidirectional Dshot-600, only motor 4 will spin, others show 100% error.
Occasionally I got all motors to spin, but could not fly, because of RMP filter warning flag.

When changed to version 0.14, worked as expected.

**Expected behavior**
All motors would show 0% error rate and no RPM filter flag preventing arm.

**Configuration:**
 - Bluejay version: 0.15
 -

[2022-01-15 13:51] Troyhy commented on #43
And thanks for the Bluejay, bi-directional Dshot made Mobule7 fly really smoothly!

[2022-01-15 19:08] PMantix commented on #43
I'm having a similar issue on BetaFPV 12A AIO ELSR V1. On version 0.15, I am getting the RPM_FILTER flag and cannot arm.

I also noticed in the motor tab that I have 100% error on all motors when the RPM is 0, but the error will drop to 0 after throttling up to any value. In version 0.14, I correctly show 0% error when RPM is 0, and do not get the RPM_FILTER flag and can arm.

[2022-01-16 18:48] kleinph commented on #43
I think you should use DSHOT600 on this board. In more recent version of Betaflight this is actually enforced.

[2022-01-17 13:21] #40 closed

[2022-01-17 13:24] mathiasvr commented on #42
I have released v0.16 as a small fix for this.

[2022-01-17 13:24] #42 closed

[2022-01-18 04:11] pkaig commented on #28
Thank you both @mathiasvr and @stylesuxx. v0.15 is now running on my E180 helicopter with GHF420 AIO board (and shortly to all my others). Tail motor has Max_Braking_Strength as default and the Main motor is set to 0. It works fantastic. Really great stuff.

[2022-01-20 01:39] Sherhang opened #44 "v0.16 Can not be configured"
**Describe the bug**

v0.16 Can not be  configured using the following configurator tools:
ESC Configurator (PWA)
Bluejay Configurator (Standalone)

I flashed v0.16 into BLHeil_S  C_H_40 successfully using Bluejay Configurator , but I can not configure it using ESC Configurator (PWA) or Bluejay Configurator。It says that version 0.16 is not supported.

**Expected behavior**

A description of what y

[2022-01-20 14:12] mathiasvr commented on #44
Bluejay configurator is being out phased but ESC configurator should support v0.16.

[2022-01-21 01:17] Sherhang commented on #44
Thank you ! I flashed v0.16 using ESC Configurator and It works.

[2022-01-21 01:17] #44 closed

[2022-01-23 12:27] howels opened #45 "Brushed motor control similar to AM32"
Would brushed mode be possible in BlueJay like it works in AM32?
We could use AIO with one broken ESC to control small RC cars!
https://github.com/AlkaMotors/AM32-MultiRotor-ESC-firmware/issues/71

[2022-01-23 15:40] mathiasvr commented on #45
Most of the current logic will not be needed for brushed mode and a setting might be harmful for brushless motors. If we want to compile a brushed version it might be simpler to separate it from bluejay as a new firmware.

[2022-01-24 16:18] kasatka60 opened #46 "brake on stop at zero throttle"
is it possible to implement a brake on stop at zero throttle on airplanes?

[2022-01-24 16:35] kasatka60 commented on #46
so that the brake only works at zero throttle.
when the gas is reduced, the brake does not engage.

[2022-01-24 16:47] mathiasvr commented on #46
Okay, so basically having 'max braking strength' at zero (no active braking / damped light), but at zero throttle it should do full braking? This is similar to what 'brake on stop' does but it has a delay before it kicks in and will disarm the ESC before.

Have you tried 'braking strength' at 0 with 'brake on stop' enabled? Is this close to what you want?

[2022-01-24 17:27] kasatka60 commented on #46
I'll try

[2022-01-24 17:39] #46 closed

[2022-01-30 23:04] stylesuxx commented on #7
This can be done with the latest [pre-release](https://github.com/mathiasvr/bluejay/releases/tag/test-melody-pwm)

[2022-02-08 21:20] JaKoB-FR opened #47 "Add the option to disable the low voltage protection, use case with liion batteries"

[2022-02-08 22:59] mathiasvr commented on #47
The efm8 should be able to run significantly below 3V. What voltage do you want to run? Could this be a problem with voltage dropping because of on inadequate capacitor when powering the ESC?

[2022-02-09 20:02] JaKoB-FR commented on #47
the esc stop starting at 5.9/5.8 V (on 2s liion which could run down to 2.5V per cells). I don't have extra capacitor on this build. This feature was common on fixed wing applications and lipo batteries when you want to have the rx and servos still running (5v) to control the glide for landing when battery is sagging. This low voltage protection can be disable on blheli32 configurator, I am wonder

[2022-02-09 20:21] mathiasvr commented on #47
There is no low voltage protection in bluejay. What ESC are you sing? I think maybe it is cutting voltage due to a regulator or similar?

[2022-02-13 20:26] lesharodin opened #48 "z_h_30 48khz?"
**Describe the bug**

Seems like Z_H_30 ESC's doens't work on 48khz or higher. Only 24k works.
Tested on HappyModel X12 AIO, found simmilar issues online on betafpv aio with same esc's

**Expected behavior**

Spin motors :)

**Configuration:**

 - Bluejay version: [e.g. 0.14-0.16]
 - ESC variant: [e.g. Z_H_30]
 - PWM frequency: [48/96]
 - DShot bitrate: [300]
 - Bidirectional DShot: [Either]
 - FC

[2022-02-13 20:33] mathiasvr commented on #48
Increase min/max startup power to around 1100/1200.

[2022-02-13 20:40] lesharodin commented on #48
It helped, thank you very much.
Is this save to leave like this?

[2022-02-13 22:21] mathiasvr commented on #48
Your welcome! Yes I think so, the BetaFPV Z target seems to need more startup power, I haven't heard of anybody having issues after increasing it.

[2022-02-16 04:49] #48 closed

[2022-02-20 20:24] senbax commented on #6
AM32 has support for variable PWM and is open-source. Maybe this gives some hints on how to implement variable PWM: https://github.com/AlkaMotors/AM32-MultiRotor-ESC-firmware

[2022-02-21 04:21] ctzsnooze commented on #39
I repeated the tests with 0.16.
Same steps.  Left is 24kHz, right 48kHz.
Easy to make the logs.  Get 4.3 RCn, latest blackbox logger.  Put a fake prop on (I made some out of TPU, about 1"diameter, or no prop.  Set all PIDs off, antigravity off, DShot telemetry on, dynamic idle off, idle % 0.1, and in CLI set blackbox_mode = MOTOR_TEST, debug mode to RPM_TELEMETRY.
Then just go to motors tab, enabl

[2022-03-02 06:17] jamesd3rd opened #49 "Arming stopped after flashing v14"
I flashed my Diatone Mamba f50 BLHeli_S esc tonight and now the quad won't arm. I initially used v15 then went to v14 thinking an older version wouldn't be buggy and just work.
.
Should I be looking at  the minimum startup value?
Right now I'm using Dshot 600. Should I go down to 300?

[2022-03-02 16:25] mathiasvr commented on #49
Does it work without bidirectional dshot? What size motors are you using? PWM frequency? Does the FC not arm or is the motors just not spinning?

[2022-03-03 21:03] jamesd3rd commented on #49
There is no issue. I've resolved the problem. I had the smoke stopper plugged in and it limits the current. Once I disconnected it, things were fine. I don't normally leave it plugged in after the initial check for shorts. So I take it for granted because it's typically not plugged in when I check the motors without BF connected.

[2022-03-15 12:56] SquidDerplord opened #50 "Motors spin up when motor slider goes from 1000-1500, then stops at 1501 and spins up from 1501-2000"
Motors stop when slider reaches 1500

Tried calibrating the esc's via betaflight, moved slider to max and plugged in battery to esc, esc didnt beep but beeps when slider moved to lowest position

[2022-03-15 13:23] SquidDerplord commented on #50
The motors spin up correctly and doesn't stop at 1501 when using BLHeli_S firmware

[2022-03-15 13:42] #50 closed

[2022-03-15 14:14] mathiasvr commented on #50
Sounds like you enabled bidirectional motor direction in the ESC settings.

[2022-03-21 05:45] #49 closed

[2022-04-14 23:56] Quick-Flash commented on #34
Fettec S2M protocol may be what we need. If it were to be supported on bl32 or bl_s through bluejay then I would believe we would see it become supported in bf.

[2022-04-19 08:28] xsnoopy opened #51 "Add CRSF to bluejay"
It's not possible using Bluejay directly connected to a TBS receiver on my helicopter.

It would be great if bluejay could listen and talk CRSF developed by @tbs-fpv

It would be even better if bluejay could report back esc telemetry (RPM) to the receiver.

[2022-04-22 12:01] Shellodan commented on #2
I all I just flashed my meteor 65 with bluejay 96khz, now the props spin but it won't take off please help

[2022-06-03 21:48] PhilippMolitor opened #54 "FETTEC S2M Protocol"
I would really like to see the new S2M protocol by FETTEC, which is a good bit faster and more efficient (comparable to dshot1200) and seems to handle telemetry in a very clean way. The protocol _could_ be a firmware choice as PWM frequency currently is, as the flash is quite limited already.

This feature could lead FC firmware devs to finally look into this protocol, which i think would be a lea

[2022-06-07 15:33] damosvil opened #55 "Extend DSHOT telemetry"
At the current time DSHOT telemetry is very limited. It can send back to FC eRPM value and nothing else. There are cases where it would be very advisable to send other telemetry values back to FC.

### Proposal: Use eRPM 0x0FFF telemetry value as a escape frame.

When one escape frame is sent back to FC, ESC is signaling the FC that the next telemetry frame (extended telemetry frame) will contain

[2022-06-07 15:43] damosvil commented on #47
I think that VDD supply monitor and reset source is enabled in the code below. The problem is that in order to be able to write in flash, supply monitor needs to be enabled. Maybe reset source can be disabled, but I don't know whether it could be advisable.

pgm_start:
	....
	orl	VDM0CN, #080h				; Enable the VDD monitor
	mov	RSTSRC, #06h				; Set missing clock and VDD monitor as a reset source if

[2022-06-18 02:46] UpMostBeast commented on #54
I 2nd this but I am not sure if S2M will be open sourced by fettec or not. Also it would be cool if the secondary telemetry was configurable. I would like the ability to have real time current measurements for implementing a current(torque) feedback control to control motor torque directly for yaw axis actuation instead of having to actuate the yaw axis through the motor throttle which doesn't hav

[2022-06-19 21:52] damosvil commented on #55
Found a better way to do this. DHOT telemetry codification repeats almost 50% the values it codes

[2022-06-19 21:52] #55 closed, assigned to nobody

[2022-06-20 16:58] sukulent opened #56 "Can't flash F-H-40: MCU mismatch, override not enabled - aborted"
### Describe the issue

A bit of backstory first: I wanted to update my drone from BF 4.3 RC4 to the release 4.3 and while setting it up I wanted to test failsafe by arming and turning my radio off but it just _dies_ right after arming, sometimes needs a bit of throttle to die. Dying means no reset, no startup beeps - from the ESCs or the FC, the video blanks and than shows roling white blobs on b

[2022-06-21 09:45] TerribleKraal commented on #54
I also would like to see this implemented.
Regarding open source, according to OP Fettec gave all the innards details on Discord, so it will be hard to consider it closed, no ?

[2022-06-21 10:40] damosvil commented on #34
There is no need to extend telemetry on a separate wire. DHOT telemetry coding repeats almost 50% coded values, so there exist a lot of codification values (7 ranges of 256 values) to codify them making the pertinent modification in Betaflight.
Please check the explanation at https://github.com/betaflight/betaflight/issues/11677

[2022-06-22 15:57] UpMostBeast commented on #54
Yeah you are right. I meant it more specifically about the fact that they mention it uses the same hardware resources as Dshot, but dshot has different implementations (timer based and gpio bit banging) depending on the available hardware resources. So it's not made explicitly clear how they generate the digital serial signal and read it on the other side but I guess that just something we have to

[2022-06-23 11:22] sukulent commented on #56
ok, looks like the dying problems were caused by some high current draw spikes or something not triggering red light on smokestopper but triggering the reset of it. Even reseting digital DC controlled supply. But straight from the battery it's works perfectly.
Now it's just a question of 'should I force flash the version of the H type esc?'

[2022-08-31 07:59] astrovpls opened #58 "Direction of the motors does not change"
Describe the bug
Whichever direction of the motors I choose, they remain the same. Tried 0.16 and 0.15.
However I was able to switch direction via betaflight, with disabled bidirectional DShot.

Similar issue in #24

Bluejay version: 0.16, 0.15
ESC variant: C-H-40
Bidirectional DShot: On
FC firmware: Betaflight 4.3.1
FC: Mamba basic f722 mini mk3
board_name: MAMBAF722_I2C

[2022-08-31 20:00] stylesuxx commented on #58
How are you changing directions? You do click "write settings" and not "flash firmware" - right?

[2022-08-31 20:01] stylesuxx opened #59 "REPO ABANDONED - NEW LOCATION"
This repository is abandoned, development continues in the [new repository](https://github.com/bird-sanctuary/bluejay).

[2022-09-07 15:04] astrovpls commented on #58
Oh, actually I was reflashing. It seemed that it was not entirely obvious from the first time when I need to reflash, and when to write down the settings.

Thanks for your reply

[2022-09-07 15:04] #58 closed, assigned to nobody

[2022-09-08 17:21] swilkens commented on #59
@mathiasvr ?

[2022-09-08 17:27] stylesuxx commented on #59
You can read more about what's going on in the [new orgs readme](https://github.com/bird-sanctuary). I am afraid you might wait a while for Mathias to answer.

[2022-10-13 10:41] PhilippMolitor commented on #59
you should really update the readme with a big notice to make this clear, I wasn't aware of it until i looked at the issues list.

[2022-10-13 10:42] stylesuxx commented on #59
@PhilippMolitor yeah - that's difficult to do if the repo is **ABANDONED** by the owner.

[2022-10-13 10:44] PhilippMolitor commented on #59
I wasn't aware mathias was the only one with full access, I understand :)

[2022-10-13 10:45] stylesuxx commented on #59
Unfortunately, yes - otherwise we would have loved to "take it over" properly. In the new org, 4 peoples are owners, so we should be on the safe side...

[2022-10-23 10:06] papage opened #61 "Blheli_s debug mode"
I think, i would be usefull to have a special version of the firmware for debugging purposes. At some point an ESC goes bad (from a crash or other reason) and it would be nice if you could debug the problem in-system.
That version when flashed to the ESC, should be able to help at least on these scenarios:
- test if the FETs corresponding to motor wire A,B or C are working. The firmware could appl

[2022-11-13 12:21] sanmaodeai opened #62 "update ESC firmware interrupt"
Hi，I update the speedy bee 50A ESC,when I update the first one ESC,it's interrupt, I wait for more than 10mins, and the progress bar do not work . So I power off the ESC and power on agian . It's only 3 ESC detect ,the first esc is gone ,so how can I do,and it would be work normal?
And the log like that:
2022-11-13 @ 20:19:56 -- Done reading ESCs
2022-11-13 @ 20:19:56 -- Read ESC 4: J-H-50 - Bluej